<head>
    <style>
        .div1 {
            padding-left: 50px;
        }

        .tbl-td-class {
            width: 130px
        }

        .input_text_class {
            width: 220px
        }

        .input_num_class {
            width: 80px
        }
    </style>
</head>

<body>
<script src="{{ url_for('static',filename='bower_components/plotly.js-dist/plotly.js') }}"></script>
<script type="text/javascript">

    function InitChart(div_name, enrich_data) {
        var xArray = [];
        var yArray = [];
        var zArray = [];
        var sizeArray = [];
        var show_length = 0;
        var title = '';
        if (enrich_data.length <= 20) {
            show_length = enrich_data.length
        } else {
            show_length = 20
        }
        if (show_length !== 0) {
            ylabel_length = 0
            for (var item = 0; item < show_length; item++) {
                if (enrich_data[item][2] !== '>1000') {
                    xArray.push(enrich_data[item][2])
                    if (enrich_data[item][1].length >= 100) {
                        var yArray_up = ''
                        var enter_flag = true
                        var str_tmp = enrich_data[item][1].split(' ')
                        for (var i in str_tmp) {
                            yArray_up += str_tmp[i] + ' '
                            if (yArray_up.length >= 90 && enter_flag) {
                                yArray_up += '<br>'
                                enter_flag = false
                            }
                        }
                        yArray.push(yArray_up)
                    } else {
                        yArray.push(enrich_data[item][1] + ' ')
                    }
                    if (enrich_data[item][1].length >= ylabel_length) ylabel_length = enrich_data[item][1].length
                    zArray.push(-Math.log(enrich_data[item][3]))
                    sizeArray.push(enrich_data[item][5] * 3)
                }
            }
            if (ylabel_length >= 100) {
                ylabel_length = 100
            }
            if (xArray.length === 0) {
                xArray.push("Infinity, please download the enrichment results to view details")
                yArray.push(0)
                zArray.push(0)
                sizeArray.push(0)
            }
        } else {
            xArray.push("There are no results related to these genes")
            yArray.push(0)
            zArray.push(0)
            sizeArray.push(0)
        }
        switch (div_name) {
            case 'pathway_svg':
                title = 'Pathway enrichment'
                break;
            case 'go_bp_svg':
                title = 'GO (biological process) enrichment'
                break;
            case 'go_cc_svg':
                title = 'GO (cellular component) enrichment'
                break;
            case 'go_mf_svg':
                title = 'GO (molecular function) enrichment'
                break;
        }

        var traceA = {
            type: "scatter",
            mode: "markers",
            x: xArray,
            y: yArray,
            marker: {
                color: zArray,
                colorscale: [[0, 'rgb(78,52,46)'], [0.5, 'rgb(245,127,23)'], [0.75, 'rgb(130,0,20)']],
                cmin: Math.min(zArray),
                cmax: Math.max(zArray),
                size: sizeArray,
                sizeref: 0.2,
                sizemode: 'area',
                showscale: true,
                colorbar: {
                    thickness: 15,
                    y: 1,
                    yanchor: 'top',
                    ypad: 4,
                    len: 1,
                    title: '-log10(P-value)',
                    titleside: 'bottom',
                    outlinewidth: 0,
                    tickfont: {
                        family: 'Arial, sans-serif',
                        size: 10,
                        color: 'green'
                    }
                },
            },

        };

        var data = [traceA];

        var layout = {
            title: {
                text: title,
                font: {
                    family: 'Arial, sans-serif',
                },
            },

            margin: {t: 50, r: 100, b: 70, l: ylabel_length * 6.6},
            showlegend: false,
            width: 1100,
            height: 650,
            backgroundcolor: '#393636',
            xaxis: {
                title: "Gene ratio",
                rangemode: 'tozero',
            },
            plot_bgcolor: '#f5f5f5'
        };
        var config = {
            toImageButtonOptions: {
                format: 'svg',
                filename: title,
                height: 650,
                width: 1100,
                scale: 1
            },
            displayModeBar: true
        };
        Plotly.newPlot(div_name, data, layout, config)
    }

</script>

<div id="bubble-chart"></div>
<!--展现可视化图标部分-->
<script>
    let data = [
        [
            "hsa00830",
            "Retinol metabolism",
            5.981018981018981,
            0.0056314,
            0.0078471,
            4,
            "CYP1A1,CYP3A4,CYP1A2,ADH1A"
        ],
        [
            "hsa05220",
            "Chronic myeloid leukemia",
            27.335047829639954,
            7.4182E-20,
            5.4047E-19,
            19,
            "BCL2L1,TGFB1,CDKN2A,TP53,E2F2,E2F1,MAPK3,CCND1,CDKN1A,NFKBIA,PIK3CD,CHUK,RB1,IKBKB,AKT1,MAPK1,MYC,RAF1,RELA"
        ],
        [
            "hsa04925",
            "Aldosterone synthesis and secretion",
            4.738359201773836,
            0.012082,
            0.016047,
            4,
            "PRKCA,PRKCB,CALM3,ITPR1"
        ],
        [
            "hsa04924",
            "Renin secretion",
            9.030165912518854,
            0.000092542,
            0.00014936,
            6,
            "CALM3,PDE3B,ADRB1,ADRB2,PPP3CA,ITPR1"
        ],
        [
            "hsa04923",
            "Regulation of lipolysis in adipocyte",
            18.362766740250184,
            1.0713E-9,
            2.8756E-9,
            10,
            "PTGS2,PTGS1,ADRB1,PIK3CD,ADRB2,PTGER3,AKT1,INSR,PDE3B,PLIN1"
        ],
        [
            "hsa04922",
            "Glucagon signaling pathway",
            6.661753939201018,
            0.00014728,
            0.00023326,
            7,
            "ACACA,CALM3,PDE3B,AKT1,PPARA,PPP3CA,ITPR1"
        ]
    ];
    InitChart('bubble-chart', data);
</script>

</body>