<head>
    <link rel="stylesheet"
          href="{{ url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.css') }}">
</head>

<body>
<style>
    /*.table > tbody > tr > td {*/
    /*    border-top: 10px solid transparent !important;*/
    /*    border-right: 10px solid transparent !important;*/
    /*    border-left: 10px solid transparent !important;*/
    /*}*/
    /*.table > thead > tr > th {*/
    /*    border-right: 10px solid transparent !important;*/
    /*    border-left: 10px solid transparent !important;*/
    /*}*/
</style>

<script src="{{ url_for('static',filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js') }}"></script>

<script src="{{ url_for('static', filename='bower_components/bootstrap-table/extensions/bootstrap-table-export/FileSaver.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-table/extensions/bootstrap-table-export/xlsx.core.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-table/extensions/bootstrap-table-export/polyfills.umd.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-table/extensions/bootstrap-table-export/jspdf.umd.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-table/extensions/bootstrap-table-export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-table/extensions/bootstrap-table-export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-table/extensions/bootstrap-table-export/html2canvas.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-table/extensions/bootstrap-table-export/tableExport.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-table/extensions/bootstrap-table-export/bootstrap-table-export.js') }}"></script>

<script type="text/javascript">
    // 表格样式
    function rowStyle1(row, index) {
        const classes = ['active', 'success', 'info', 'warning', 'danger'];
        return {
            classes: classes[(index / 2) % classes.length]
        };
    }

    function rowStyle(row, index) {
        const classes = ['warning', 'info'];
        return {
            classes: classes[index % 2]
        };
    }

    // 下载文件（ajax不能解析二进制流,只能用原生的XMLHttpRequest）
    function download_file(id) {
        console.log(id)
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/download_excel?id=' + id);
        xhr.send();
        xhr.responseType = 'blob'; //设置请求回来的数据为blob方式
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // 数据在 this.response 保存
                // excel 的 MIME 格式为 application/vnd.ms-excel
                var blob = new Blob(
                    [this.response],
                    {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}
                );

                // 创建a链接 href链接地址 download为下载下来后文件的名称
                const url = URL.createObjectURL(blob);
                const link = document.createElement('a');
                link.href = url
                link.download = '文件.xls';
                link.style.display = 'none'; //隐藏a标签 直接调用a标签的点击事件

                document.body.appendChild(link);
                link.click();
                URL.revokeObjectURL(url)
                document.body.removeChild(link);
            }
        }
    }

    function send_ajax() {
        const options = {
            url: "/table-data",
            type: "POST",
            async: false,
            data: {},
            cache: false,//不缓存数据
            processData: false,//不转换数据
            contentType: false,
            dataType: "json",
            success: successCallback,
            error: errorCallback
        };
        $.ajax(options);
    }

    function successCallback(rsp) {
        var jsonStr = JSON.stringify(rsp);
        var columns = rsp.columns;
        columns.push({
            "title": "操作",
            "field": 'op',
            "align": 'center',
            "formatter": function actionFormatter(value, row, index) {
                let result = "";
                // result += "<a href='javascript:;'  class='btn btn-xs blue' onclick=\"editView('" + row.id + "','" + id + "')\" title='编辑'>编辑</a>";
                // result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"del('" + row.adm_id + "')\" title='删除'>删除</a>";
                result += "<a class='btn btn-info' onclick=\"download_file('" + row.id + "')\" title='下载'>下载</a>";
                return result;
            }
        });
        alert(jsonStr);

        let node = document.getElementById("toolbar");
        node.style.display = 'block';

        $('#table_sg').bootstrapTable('destroy');
        $('#table_sg').bootstrapTable({
            columns: columns,
            data: rsp.rows,
            pagination: true, //前端处理分页
            singleSelect: false, //是否只能单选
            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,  //启用严格搜索
            toolbar: '#toolbar', //工具按钮用哪个容器
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            showColumns: true, //显示内容列下拉框
            showRefresh: false, //显示刷新按钮
            sidePagination: "client", //分页方式：client客户端分页，server服务端分页（*）
            showToggle: false, //是否显示详细视图和列表视图的切换按钮
            cardView: false, //是否显示详细视图
            height: 550, //固定表格的高度
            // rowStyle: rowStyle,//通过自定义函数设置行样式
            // smartDisplay: true,  // 自动根据网页容器高度计算出pageSize和pageList的值你无需设置这两个值。
            // showFullscreen:true, //显示全屏按钮

            //是否导出数据
            showExport: true,
            //选择导出数据的范围，默认basic：只导出当前页的表格数据；all：导出所有数据；selected：导出选中的数据
            exportDataType: "all",
            //导出文件类型,因为导出png文件时会出现忽略的列也显示；导出PDF文件出现中文乱码的问题，所以根据需要只支持Excel文件类型即可
            //['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'pdf']
            exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel'],
            Icons: 'glyphicon-export icon-share',
            //导出设置
            exportOptions: {
                ignoreColumn: [],  //忽略某一列的索引
                worksheetName: 'sheet1',  //表格工作区名称
                //导出文件的名称
                fileName: '网络信息表格',
            },
        });
    }

    function errorCallback(xhr, status) {
        alert('出问题了！');
    }
</script>

<input type="submit" class="btn btn-primary" value="提交" onclick="send_ajax()">
<div style="width: 80%; margin: 0 auto">

    <div>
        <div class="row" id="toolbar" style="display: none">
            <div class="col-sm-9">
                <p>String_v11_5 PPI拓扑信息:</p>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-default dropdown-toggle" id="btn_download">下载</button>
            </div>
        </div>
        <table id="table_sg"></table>
    </div>
</div>
</body>